body {
    background: url(https://media.istockphoto.com/photos/abstract-soft-red-background-picture-id939609996?b=1&k=20&m=939609996&s=170667a&w=0&h=jZ7MHq0XyH9_jbvmnbWYYsskkicOpTX3f84CAHDODm0=);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: white;
  }