body {
    padding: 10px;
    font-size: 30px;
    background-color: #1d1f20;
    color: #fff;
  }
  

  h1 {
    color: #81876E;
    margin-left: 50x;
  } 
  
  h3 {
    color: #CB997E;
    margin-left: 50x;
  } 