<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="Week_6.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
</head>

<body>

    <div class="columns" id="app">
        <div class="column is-two-thirds">
          <section class="section">
            <h1 class="title">Contact Us </h1>
            <p class="subtitle">
              Soul Divine Always There When You Need Us  <strong>Always!</strong>!
            </p>
            <hr>
      
            <!-- form starts here -->
            <section class="form">
              <form v-on:submit.prevent="$validator.validateAll(); console.log(form);">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input name="name" v-model="form.name" v-validate="'required|min:3'" v-bind:class="{'is-danger': errors.has('name')}" class="input" type="text" placeholder="Full Name">
                  </div>
                  <p class="help is-danger" v-show="errors.has('name')">
                    {{ errors.first('name') }}
                  </p>
                </div>
      
                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea name="message" class="textarea" v-validate="'required|polite'" placeholder="How Can We Help You..." v-bind:class="{'is-danger': errors.has('message')}" v-model="form.message"></textarea>
                  </div>
                  <p class="help is-danger" v-show="errors.has('message')">
                    {{ errors.first('message') }}
                  </p>
                </div>
      
                <div class="field">
                  <label class="label">Inquiry Type</label>
                  <div class="control">
                    <div class="select">
                      <select v-model="form.inquiry_type">
                                              <option disabled value="">Nothing Selected</option>
                                              <option v-for="option in options.inquiry" v-bind:value="option.value">
                                                  {{ option.text }}
                                              </option>
                                          </select>
                    </div>
                  </div>
                </div>
      
                <div class="field">
                  <label class="label">LogRocket Usecases</label>
                  <div class="control">
                    <div class="select is-multiple">
                      <select multiple v-model="form.logrocket_usecases">
                                              <option>Debugging</option>
                                              <option>Fixing Errors</option>
                                              <option>User Support</option>
                                          </select>
                    </div>
                  </div>
                </div>
      
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                                          <input type="checkbox" v-model="form.terms">
                                          I Agree To The <a href="#">Terms & Conditions</a>
                                      </label>
                  </div>
                </div>
      
                <div class="field">
                  <label>
                                      <strong>How Do You Prefer We Contact You  </strong>
                                  </label>
                  <div class="control">
                    <label class="checkbox">
                                          <input type="checkbox" v-model="form.concepts"
                                          value="Phone Number">
                                          Phone Number
                                      </label>
                    <label class="checkbox">
                                          <input type="checkbox" v-model="form.concepts" 
                                          value="Email">
                                          Email
                                      </label>
                  </div>
                </div>
      
                
      
                <div class="field is-grouped">
                  <div class="control">
                    <button v-bind:disabled="errors.any()" class="button is-primary">
                                      Submit
                                  </button>
                  </div>
                </div>
      
              </form>
            </section>
          </section>
        </div>
      
        <div class="column">
          <section class="section" id="results">
            <div class="box">
              <ul>
                <li v-for="(item, k) in form">
                  <strong>{{ k }}:</strong> {{ item }}</li>
              </ul>
      
            </div>
          </section>
        </div>
      </div>




    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js%22%3E"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

    <script src="https://unpkg.com/vee-validate@2.0.0-rc.18/dist/vee-validate.js"></script>
   


    <script src="Week_6.js"></script>

</body>

</html>