<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="Week_5.css">
</head>

<body>


<h1><i><b>Week 5 Task 3</i></b></h1>
<h2><i>Understanding Handling User Input</i></h2>

<h3> Check How Your Name Looks Like In Reverse: </h3>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Name </button>
      </div>

      <br>
      <h3> Are You Looking For Acupuncture  Practitioner  </h3>

      <div class="vue">
        <p>You have Decided This Statement Is <i><b> {{statementIsTrue}}</i></b></p>
        <label>
          <input type="checkbox" v-model="statementIsTrue" />
          
        </label>
      </div>

      <br>

    
      <div class="vue_2">

        <h3> Choose Your Prefered Service Provider  </h3>

        <p> {{namesThatRhyme.join(', ')}}</p>
        <label>
          <input type="checkbox" value="Luxe Therapy" v-model="namesThatRhyme" />
          Luxe Therapy
        </label>
        <label>
          <input type="checkbox" value="Merge Health" v-model="namesThatRhyme" />
          Merge Health
        </label>
        <label>
          <input type="checkbox" value="Max Therapy" v-model="namesThatRhyme" />
          Max Therapy
        </label>
      </div>

      <br>

      <div class="vue_3">
        <h3> Select To Your Comfort  </h3>
        <label>
          <input type="radio" value="A Female" v-model="howAreYouFeeling" />
          Female
        </label>
        <label>
          <input type="radio" value="A Male" v-model="howAreYouFeeling" />
          Male
        </label>
        <label>
          <input type="radio" value="Any" v-model="howAreYouFeeling" />
          Either
        </label>
        <p>I Would Be Most Comfortable With  <em>{{howAreYouFeeling}}</em> Doctor.</p>
      </div>

      <br>

      <h3> Select A Suitable Day  </h3>
      
      <div class="vue_4">
      <select v-model="selected">
        <option disabled value="">Please Select A Day </option>
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
      </select>
      <span>Selected Day: {{ selected }}</span>
    </div>

      

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js%22%3E"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>



<script src="Week_5.js"></script>

</body>

</html>

